<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">;

    <title>TeamName</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/teams.css">
</head>

<body>
    <% include partials/navbar.ejs %>

    <!-- Logo -->
    <div class="mainLogo" style="background-image:url(&quot <%=team.image %> &quot)"></div>
    <div class="mainBody">
        <!-- Description -->
        <div class="description">
            <h1 class="display-4"><%= team.name %></h1>
            <p> <%= team.description %>
            </p>
        </div>

        <h1 class="display-4">Players</h1>

        <!-- Grid of players -->
        <div class="container">
            <div class="row">
                <% team.players.forEach( function(player) { %>

                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <a href="/player/<%=player.id%>">
                        <div class="card">
                            <img src="<%= player.image %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text"><%= player.name %></p>
                            </div>
                        </div>
                    </a>
                </div>
                <% }); %>
            </div>
        </div>
    </div>

    <!-- javascript -->
    <script src="/public/js/teams.js"></script>
</body>

</html>